<!--
  Generated template for the CustomersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Customer</ion-title>

  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list style="margin-right:10px">
   
          <ion-item style="border:0px;padding:0px;margin:0px">
            <ion-input #searchTextInput [formControl]="searchControl" (ionInput)="onSearchInput()" type="{{selectedSearchType}}" [(ngModel)]="searchTerm"
              placeholder="Search"></ion-input>
       

            <ion-select text-left [(ngModel)]="s" (ionChange)="optionSelection()">
              <ion-option *ngFor="let s of search" [value]="s">{{s}}</ion-option>
            </ion-select>
          </ion-item>
     
    <!--<button ion-button (click)="setFilteredItems()">Click</button>-->
    <h4 style="text-align:center" *ngIf="!customers?.length>0">No customer found</h4>
    
  </ion-list>
  <ion-card *ngFor="let c of customers;trackBy: trackByFn">
    <ion-list class="list">
      <ion-grid no-padding>
        <ion-item no-padding no-margin text-wrap>
          <ion-row>
            <ion-col no-padding no-margin px col-6>
              <h4>
                <b>Name:</b>
              </h4>
            </ion-col>
            <ion-col no-padding no-margin col-6>
              <h4> {{c.name}}</h4>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding no-margin col-6>
              <h4>
                <b>Mobile:</b>
              </h4>
            </ion-col>
            <ion-col no-padding no-margin col-6>
              <h4>{{c.mobileNo}}</h4>
            </ion-col>
          </ion-row>

          <button style="padding-top:3px;margin-left:0px" ion-button outline (click)="navToCustDetail(c)">View Details</button>
        </ion-item>
      </ion-grid>

    </ion-list>
  </ion-card>
  <ion-row>
    <ion-col text-center>
      <button ion-button [disabled]="min" (tap)="loaddata(-5)" round>
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <button ion-button [disabled]="max" (tap)="loaddata(5)" round>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

</ion-content>