<!--
  Generated template for the FinalOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Final Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>

    <form [formGroup]='finalorder' novalidate>
      <ion-row>
        <ion-col col-4 class="item-form-row" [ngStyle]="{'border':selectedClass[1] ? 'solid lightgray 1px': 'solid #488aff 1px'}">
          <ion-input placeholder="No. of plates" [(ngModel)]="finalorder.plates" (keyup)="lostFocus(1)" type="tel" formControlName="plates"
            [class.invalid]="!finalorder.controls.plates.valid && (finalorder.controls.plates.dirty  || submitAttempt)"></ion-input>
        </ion-col>
        
          <h4 class="h4">      
           x 
          </h4>

        <ion-col col-4  class="item-form-row" [ngStyle]="{'border':selectedClass[2] ? 'solid lightgray 1px': 'solid #488aff 1px'}">
          <ion-input placeholder="price /plate" [(ngModel)]="finalorder.perPlateAmount" style="padding-bottom:5px"  (keyup)="lostFocus(2)" type="tel"
            formControlName="perPlateAmount" [class.invalid]="!finalorder.controls.perPlateAmount.valid && (finalorder.controls.perPlateAmount.dirty  || submitAttempt)"></ion-input>
        </ion-col>
        <h4 class="h4">
          = 
        </h4>
        <ion-col   class="item-form-row" [ngStyle]="{'border':selectedClass[4] ? 'solid lightgray 1px': 'solid #488aff 1px'}">
          <ion-input [readonly]="true" placeholder="Total"  style="padding-bottom:5px" (ionBlur)="lostFocus(4)" (ionFocus)="getFocus(4)" type="tel" formControlName="total"   [(ngModel)]="finalorder.total"
            [class.invalid]="!finalorder.controls.total.valid && (finalorder.controls.total.dirty  || submitAttempt)"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row no-padding no-margin>
        <ion-col col-4>
          <p no-padding class="error-message" *ngIf="!finalorder.controls.plates.valid  && (finalorder.controls.plates.dirty  || submitAttempt)">Please enter plates.</p>
        </ion-col>
        <ion-col col-4>
          <p no-padding class="error-message" *ngIf="!finalorder.controls.perPlateAmount.valid  && (finalorder.controls.perPlateAmount.dirty  || submitAttempt)">Please enter per plate amount.</p>
        </ion-col>
        <ion-col col-4>
          <p no-padding class="error-message" *ngIf="!finalorder.controls.total.valid  && (finalorder.controls.total.dirty  || submitAttempt)">Please enter per total amount.</p>
        </ion-col>
      </ion-row>
      <!-- <ion-item no-padding class="item-form"> -->
      <ion-item no-padding class="item-form-textarea" [ngStyle]="{'border':selectedClass[0] ? 'solid lightgray 1px': 'solid #488aff 1px'}">
        <ion-textarea [(ngModel)]="finalorder.comments" placeholder="Message" (ionBlur)="lostFocus(0)" (ionFocus)="getFocus(0)" row="10" type="text" formControlName="comments"
          [class.invalid]="!finalorder.controls.comments.valid && (finalorder.controls.comments.dirty  || submitAttempt)"></ion-textarea>
      </ion-item>
      <p no-padding class="error-message" *ngIf="!finalorder.controls.comments.valid  && (finalorder.controls.comments.dirty  || submitAttempt)">Please give your comments.</p>
      <br>

      <!-- </ion-item> -->

      <ion-item no-padding class="item-form" [ngStyle]="{'border':selectedClass[5] ? 'solid lightgray 1px': 'solid #488aff 1px'}">
          <ion-input placeholder="Additional amount" [(ngModel)]="finalorder.additionalAmount" (keyup)="finalAmount()"  type="tel" formControlName="additionalAmount" [class.invalid]="!finalorder.controls.additionalAmount.valid && (finalorder.controls.additionalAmount.dirty  || submitAttempt)"></ion-input>
      </ion-item>
      <p no-padding class="error-message" *ngIf="!finalorder.controls.additionalAmount.valid  && (finalorder.controls.additionalAmount.dirty  || submitAttempt)">Please enter additional amount.</p>
      <br>

      <ion-item no-padding class="item-form" [ngStyle]="{'border':selectedClass[3] ? 'solid lightgray 1px': 'solid #488aff 1px'}">
        <ion-input [readonly]="true" placeholder="Final amount" (ionBlur)="lostFocus(3)" (ionFocus)="getFocus(3)" type="tel" formControlName="finalAmount" [(ngModel)]="finalorder.finalAmount" 
          [class.invalid]="!finalorder.controls.finalAmount.valid && (finalorder.controls.finalAmount.dirty  || submitAttempt)"></ion-input>
      </ion-item>
      <p no-padding class="error-message" *ngIf="!finalorder.controls.finalAmount.valid  && (finalorder.controls.finalAmount.dirty  || submitAttempt)">Final amount</p>
      <br>


      <ion-row>
        <ion-col text-center>
          <button item-right ion-button (click)="save()">Save</button>

        </ion-col>

      </ion-row>


    </form>

  </ion-list>

</ion-content>