<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <div class="login-Div" >
    
    <form [formGroup]='loginForm' (submit)="loginUser()"  novalidate>
        <ion-row>
            <ion-col text-center>
              <img class="logo" src="assets/img/login.png" />
            </ion-col>
          </ion-row>
      <ion-list no-margin>
        <ion-item class="item-form" [ngStyle]="{'border':selectedClass[0] ? 'solid lightgray 1px': 'solid #488aff 1px'}">
          <button ion-button item-left clear class="iconColor">
            <ion-icon name="person" class="iconColor"></ion-icon>
          </button>
          <ion-input type="text"  placeholder="UserName" formControlName="username" [class.invalid]="!loginForm.controls.username.valid &&( submitAttempt)"></ion-input>
        </ion-item>
        <p class="error-message" *ngIf="!loginForm.controls.username.valid &&( submitAttempt)">Please Enter valid UserName.</p>
        <br> 
        <ion-item class="item-form" [ngStyle]="{'border':selectedClass[1] ? 'solid lightgray 1px': 'solid blue 1px'}">
 
          <button ion-button item-left clear class="iconColor">
            <ion-icon name="lock" class="iconColor"></ion-icon>
          </button>

          <ion-input  type="password" placeholder="Password" formControlName="password"
            [class.invalid]="!loginForm.controls.password.valid &&( submitAttempt)"></ion-input>
        </ion-item>
        <p class="error-message" *ngIf="!loginForm.controls.password.valid &&( submitAttempt)">Please Enter valid Password.</p>
        <br>

        <div class="class-center">
          <button center text-center ion-button  block type='submit'>Login</button>
        </div>
      </ion-list>
    </form>

</div>

</ion-content>