page-login {
    .item-form{
        height:40px;
                    border-radius:6px;
                   padding:0px;
                   margin-left:0px;
                    
    }

    
.login-Div{
    padding-left:5%;
    padding-right:5%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    
}
    ion-row{
        padding-top:10%;
        padding-bottom:25%;
    }
   
    .scroll-content {
        padding-bottom: 0!important;
        }
}