<!--
  Generated template for the QuotationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}} Quotation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list no-lines>

    <form [formGroup]='quotationForm' novalidate>
      <ion-item no-padding class="item-form" >
        <ion-input (keyup)="searchCustomer()" [(ngModel)]="quotationForm.mobile" placeholder="Add Mobile No." type="tel" formControlName="mobile" [class.invalid]="!quotationForm.controls.mobile.valid && (quotationForm.controls.mobile.dirty  || submitAttempt)"></ion-input>
      </ion-item>
      <p no-padding class="error-message" *ngIf="!quotationForm.controls.mobile.valid  && (quotationForm.controls.mobile.dirty  || submitAttempt)">Please enter phone no.</p>
      <br>
      <ion-item no-padding class="item-form" >
        <ion-input placeholder="Name" [(ngModel)]="quotationForm.name"  type="text"
          formControlName="name" [class.invalid]="!quotationForm.controls.name.valid && (quotationForm.controls.name.dirty  || submitAttempt)"></ion-input>
      </ion-item>
      <p no-padding class="error-message" *ngIf="!quotationForm.controls.name.valid  && (quotationForm.controls.name.dirty  || submitAttempt)">Please enter name.</p>
      <br>
      <ion-item no-padding class="item-form" >
        <ion-input placeholder="Email"  [(ngModel)]="quotationForm.email" type="email"
          formControlName="email" [class.invalid]="!quotationForm.controls.email.valid && (quotationForm.controls.email.dirty  || submitAttempt)"></ion-input>
      </ion-item>
      <!-- <p no-padding class="error-message" *ngIf="!quotationForm.controls.email.valid  && (quotationForm.controls.email.dirty  || submitAttempt)">Please enter email address</p> -->
      <br>
      <ion-item no-padding class="item-form-textarea" >
        <ion-textarea placeholder="Address"  [(ngModel)]="quotationForm.address" 
          type="text" formControlName="address" [class.invalid]="!quotationForm.controls.address.valid && (quotationForm.controls.address.dirty  || submitAttempt)"></ion-textarea>
      </ion-item>
      <p no-lines no-padding class="error-message" *ngIf="!quotationForm.controls.address.valid  && (quotationForm.controls.address.dirty  || submitAttempt)">Please enter address </p>
      <br>
      <ion-item no-padding class="item-form">
        <ion-input placeholder="Alt. Phone No." [(ngModel)]="quotationForm.alternateMobileNo" 
          type="tel" formControlName="alternateMobileNo" [class.invalid]="!quotationForm.controls.alternateMobileNo.valid && (quotationForm.controls.alternateMobileNo.dirty  || submitAttempt)"></ion-input>
      </ion-item>
      <p no-padding class="error-message" *ngIf="!quotationForm.controls.alternateMobileNo.valid  && (quotationForm.controls.alternateMobileNo.dirty  || submitAttempt)">Please enter alternate phone no.</p>
      <br>


      <ion-item no-padding class="item-form" >
        <ion-label>Occasion</ion-label>
        <ion-select  formControlName="occasion" [(ngModel)]="occasion" [class.invalid]="!quotationForm.controls.occasion.valid && (quotationForm.controls.occasion.dirty  || submitAttempt)">
          <ion-option *ngFor="let occasion of occasionType" [value]="occasion">{{occasion}}
          </ion-option>
        </ion-select>
      </ion-item>
      <p no-padding class="error-message" *ngIf="!quotationForm.controls.occasion.valid  && (quotationForm.controls.occasion.dirty  || submitAttempt)">Please select occasion </p>
      <br>
      <ion-item no-padding class="item-form">
        <ion-label>Occasion Date Time</ion-label>

        <ion-datetime  [(ngModel)]="date" displayFormat="DD/MMM/YYYY HH:mm"  max="2022-10-31" formControlName="occasionDt" [class.invalid]="!quotationForm.controls.occasionDt.valid && (quotationForm.controls.occasionDt.dirty || submitAttempt)"></ion-datetime>
      </ion-item>
      <p no-padding class="error-message" *ngIf="!quotationForm.controls.occasionDt.valid  && (quotationForm.controls.occasionDt.dirty  || submitAttempt)">Please select ocassion date </p>
      <br>
      <ion-item no-padding class="item-form-textarea">
        <ion-textarea placeholder="Occasion Venue"  [(ngModel)]="quotationForm.venue" type="text" formControlName="venue"
          [class.invalid]="!quotationForm.controls.venue.valid && (quotationForm.controls.venue.dirty  || submitAttempt)"></ion-textarea>
      </ion-item>
      <p no-padding class="error-message" *ngIf="!quotationForm.controls.venue.valid  && (quotationForm.controls.venue.dirty  || submitAttempt)">Please enter ocassion venue </p>
      <br>



      <ion-item no-padding class="item-form" >
        <ion-label>Choose Package</ion-label>
        <ion-select  formControlName="packages"  [(ngModel)]="packagesName" [class.invalid]="!quotationForm.controls.packages.valid && (quotationForm.controls.packages.dirty  || submitAttempt)">
          <ion-option *ngFor="let s of standardMenu;let i=index" [value]="i">{{s}}
          </ion-option>
        </ion-select>
        <!-- <ion-select okText="Ok"  formControlName="packages" [class.invalid]="!quotationForm.controls.packages.valid && (quotationForm.controls.packages.dirty || submitAttempt)">
          <ion-option *ngFor="let s of standardMenu;let i=index" [value]="i">{{s.name}}
          </ion-option>
        </ion-select> -->
      </ion-item>
      <p no-padding class="error-message" *ngIf="!quotationForm.controls.packages.valid  && (quotationForm.controls.packages.dirty  || submitAttempt)">Please select a package </p>
      <br>



      <ion-row>
        <ion-col text-right>
          <button ion-button (click)="navToNext()">Next</button>

        </ion-col>
      </ion-row>


    </form>

  </ion-list>




</ion-content>