page-packages {
    .content{
        background-color:white; 
    }
    
    .row-menu{
        border:solid 2px gray;
        // border-radius:6px;
        font-weight:bold;
        font-size:16px;
    }
    
    
}
