<ion-header>

    <ion-navbar>
            <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                  </button>
        <ion-title> View Receipts</ion-title>
    </ion-navbar>

</ion-header>

<ion-content >

    <h4 style="text-align:center" *ngIf="receiptsfound">No receipts found</h4>
    <ion-card *ngFor="let r of receipts">
        <ion-list no-lines>
            <ion-grid>
                <ion-item no-padding no-margin text-wrap>
                    <ion-row>
                        <ion-col no-padding no-margin px col-6>
                            <h4>
                                <b>Customer Name:</b>
                            </h4>
                        </ion-col>
                        <ion-col no-padding no-margin col-6>
                            <h4> {{r.customerName}}</h4>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col no-padding no-margin col-6>
                            <h4>
                                <b> Receipt No.:</b>
                            </h4>
                        </ion-col>
                        <ion-col no-padding no-margin col-6>
                            <h4>{{r.receiptNo}}</h4>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col no-padding no-margin col-6>
                            <h4>
                                <b> Receipt Date:</b>
                            </h4>
                        </ion-col>
                        <ion-col no-padding no-margin col-6>
                            <h4> {{r.ReceiptDt}}</h4>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col no-padding no-margin col-6>
                            <h4>
                                <b> Payment Mode:</b>
                            </h4>
                        </ion-col>
                        <ion-col no-padding no-margin col-6>
                            <h4> {{r.paymentMode}}</h4>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col no-padding no-margin col-6>
                            <h4>
                                <b> Amount Figure:</b>
                            </h4>
                        </ion-col>
                        <ion-col no-padding no-margin col-6>
                            <h4> {{r.amount}}</h4>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col no-padding no-margin col-6>
                            <h4>
                                <b> Amount Words:</b>
                            </h4>
                        </ion-col>
                        <ion-col no-padding no-margin col-6>
                            <h4> {{r.amountWords}}</h4>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col no-padding no-margin col-6>
                            <h4>
                                <b>  Payment Type:</b>
                            </h4>
                        </ion-col>
                        <ion-col no-padding no-margin col-6>
                            <h4> {{r.paymentType}}</h4>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="r.chequeNo">
                        <ion-col no-padding no-margin col-6>
                            <h4>
                                <b> Cheque No.:</b>
                            </h4>
                        </ion-col>
                        <ion-col no-padding no-margin col-6>
                            <h4> {{r.chequeNo}}</h4>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="r.paymentMode=='Cheque'">
                        <ion-col no-padding no-margin col-6>
                            <h4>
                                <b> Cheque Date:</b>
                            </h4>
                        </ion-col>
                        <ion-col no-padding no-margin col-6>
                            <h4> {{r.ChequeDt}}</h4>
                        </ion-col>
                    </ion-row>
                    <ion-row >
                     
                        <ion-col text-right>
                           <button ion-button (click)="printPdf(r)"outline>Print</button>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-grid>
        </ion-list>
    </ion-card>
</ion-content>