<!--
  Generated template for the CustomerDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Customer Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card>
  <ion-list class="list">
    <ion-grid no-padding>
      <ion-item no-padding no-margin text-wrap>
        <ion-row>
          <ion-col no-padding no-margin px col-6>
            <h4>
              <b>Name:</b>
            </h4>
          </ion-col>
          <ion-col no-padding no-margin col-6>
            <h4> {{customerDetail.name}}</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding no-margin col-6>
            <h4>
              <b>Mobile:</b>
            </h4>
          </ion-col>
          <ion-col no-padding no-margin col-6>
            <h4>{{customerDetail.mobileNo}}</h4>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="customerDetail.alternateMobileNo">
          <ion-col no-padding no-margin col-6>
            <h4>
              <b>Alternate Mobile:</b>
            </h4>
          </ion-col>
          <ion-col no-padding no-margin col-6>
            <h4>{{customerDetail.alternateMobileNo}}</h4>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="customerDetail.email">
          <ion-col no-padding no-margin col-6>
            <h4>
              <b>Email:</b>
            </h4>
          </ion-col>

          <ion-col no-padding no-margin col-6>
            <h4>{{customerDetail.email}}</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding no-margin col-6>
            <h4>
              <b>Address:</b>
            </h4>
          </ion-col>
          <ion-col no-padding no-margin col-6>
            <h4>{{customerDetail.address}}</h4>
          </ion-col>

        </ion-row>
      </ion-item>
    </ion-grid>

  </ion-list>
</ion-card>
</ion-content>
