<!--
  Generated template for the ReceiptsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>Add Receipt</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
  
    <ion-list no-lines>
  
      <form [formGroup]='receiptForm' novalidate>
        <ion-item no-padding class="item-form">
          <ion-label style="margin-left:8px">Receipt Date</ion-label>
  
          <ion-datetime [(ngModel)]="myDate" displayFormat="DD/MMM/YYYY" max="2022-10-31" formControlName="receiptDt" [class.invalid]="!receiptForm.controls.receiptDt.valid && (receiptForm.controls.receiptDt.dirty || submitAttempt)"></ion-datetime>
        </ion-item>
        <p no-padding class="error-message" *ngIf="!receiptForm.controls.receiptDt.valid  && (receiptForm.controls.receiptDt.dirty  || submitAttempt)">Please select receipt date. </p>
        <br>
  
  
  
        <ion-item no-padding class="item-form">
          <ion-input [(ngModel)]="receiptForm.name" placeholder="Customer Name" type="text" formControlName="name" [class.invalid]="!receiptForm.controls.name.valid && (receiptForm.controls.name.dirty  || submitAttempt)"></ion-input>
        </ion-item>
        <p no-padding class="error-message" *ngIf="!receiptForm.controls.name.valid  && (receiptForm.controls.name.dirty  || submitAttempt)">Please enter customer name.</p>
        <br>
  
  
        <ion-item no-padding class="item-form">
          <ion-input placeholder="Payment Amount(in words)." type="text" formControlName="paymentAmount" [class.invalid]="!receiptForm.controls.paymentAmount.valid && (receiptForm.controls.paymentAmount.dirty  || submitAttempt)"></ion-input>
        </ion-item>
        <p no-padding class="error-message" *ngIf="!receiptForm.controls.paymentAmount.valid  && (receiptForm.controls.paymentAmount.dirty  || submitAttempt)">Please enter payment amount in words.</p>
        <br>
  
        <ion-item no-padding class="item-form">
          <ion-input placeholder="Payment Amount(in figures)." type="tel" formControlName="paymentAmountfig" [class.invalid]="!receiptForm.controls.paymentAmountfig.valid && (receiptForm.controls.paymentAmountfig.dirty  || submitAttempt)"></ion-input>
        </ion-item>
        <p no-padding class="error-message" *ngIf="!receiptForm.controls.paymentAmountfig.valid  && (receiptForm.controls.paymentAmountfig.dirty  || submitAttempt)">Please enter payment amount in figures.</p>
        <br>
  
  
        <ion-item no-padding class="item-form">
          <ion-label style="margin-left:8px">Payment Mode</ion-label>
          <ion-select formControlName="paymentMode" (ionChange)="selectedPaymentMode()" [class.invalid]="!receiptForm.controls.paymentMode.valid && (receiptForm.controls.paymentMode.dirty  || submitAttempt)">
            <ion-option *ngFor="let otype of paymentMode" [value]="otype">{{otype}}
            </ion-option>
          </ion-select>
        </ion-item>
        <p no-padding class="error-message" *ngIf="!receiptForm.controls.paymentMode.valid  && (receiptForm.controls.paymentMode.dirty  || submitAttempt)">Please select payment mode. </p>
        <br>
  
        <div *ngIf="checkFieldShow">
          <ion-item no-padding class="item-form">
            <ion-input placeholder="Cheque No" type="tel" formControlName="chequeNo" [class.invalid]="!receiptForm.controls.chequeNo.valid && (receiptForm.controls.chequeNo.dirty  || submitAttempt)"></ion-input>
          </ion-item>
          <p no-padding class="error-message" *ngIf="errorChequeNo">Please enter cheque no.</p>
          <br>
  
  
          <ion-item no-padding class="item-form">
            <ion-label style="margin-left:8px">Cheque Date</ion-label>
  
            <ion-datetime [(ngModel)]="myDateCheque" displayFormat="DD/MMM/YYYY" max="2022-10-31" formControlName="chequeDt" [class.invalid]="!receiptForm.controls.chequeDt.valid && (receiptForm.controls.chequeDt.dirty || submitAttempt)"></ion-datetime>
          </ion-item>
          <p no-padding class="error-message" *ngIf="errorChequeDt">Please select cheque date. </p>
          <br>
        </div>
  
  
  
        <ion-item no-padding class="item-form">
          <ion-label style="margin-left:8px">Payment Type</ion-label>
          <ion-select formControlName="paymentType" [class.invalid]="!receiptForm.controls.paymentType.valid && (receiptForm.controls.paymentType.dirty  || submitAttempt)">
            <ion-option *ngFor="let otype of paymentType" [value]="otype">{{otype}}
            </ion-option>
          </ion-select>
        </ion-item>
        <p no-padding class="error-message" *ngIf="!receiptForm.controls.paymentType.valid  && (receiptForm.controls.paymentType.dirty  || submitAttempt)">Please select payment type. </p>
        <br>
  
  
  
  
        <ion-row>
          <ion-col text-right>
            <button ion-button block (click)="save()">Save</button>
  
          </ion-col>
        </ion-row>
  
  
      </form>
  
    </ion-list>
  </ion-content>