page-home {
.h2{
    color: white;
    font-size:15px;
    margin:0px
}

.gridData{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}
}
