<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-grid no-padding>
    <ion-row>
      <ion-col col-2><button class="btn-transparent" clear ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button></ion-col><ion-col col-3><h3>Home</h3></ion-col></ion-row> 
        </ion-grid> -->

      <ion-grid class="gridData">

        <ion-row >
          <ion-col col-6 text-center  (tap)="navToCustomers()">
            <img class="logo"  src="assets/img/customer_app.png" />
            <h3 class="h2">Customer</h3>
          </ion-col>
          <ion-col col-6 text-center  (tap)="navToMenu()">
            <img class="logo"  src="assets/img/Menu_app.png" />
            <h3 class="h2"> View Packages</h3>

          </ion-col>

        </ion-row>
        <ion-row style="padding-top:5%;padding-bottom:5%" >


          <ion-col col-6 text-center (tap)="navToQuotation()">
            <img class="logo" src="assets/img/quotation_final_updated.png" />
            <h3 class="h2"> Quotation</h3>

          </ion-col>
          <ion-col col-6 (tap)="navToListQutation()" text-center>
            <img class="logo"  src="assets/img/list quotation_final.png" />
            <h3 class="h2"> List Quotation</h3>

          </ion-col>
        </ion-row>

      </ion-grid>
  
</ion-content>