<!--
  Generated template for the BrochurePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Brochure</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
 <img src="http://toplecaterers.webfillssoftwares.com/sales/public/brochure/brochure.jpg" >
 <button style="width:90%;margin-left:5%"ion-button block  (click)="shareBorchure()" >Share</button>
</ion-content>