// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.scroll-content{
    overflow-y: auto !important;
    };

    .toolbar-background{
        background-color:map-get($colors,backgroundColor );
    }

    .menu-List{
        background-color:map-get($colors,white );
        color: black;
        border-bottom:solid 1px black
        
    }
    
    .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
        }
   
    .error-message{
     
            color: White;
            padding-top: 0px;
            padding-bottom: 0px;
            margin: 0px;
            margin-bottom:10px;
       
           }

           .item-form{
            border:solid lightgray 2px;
            height:40px;
            background-color: white
        }

        .icon-item{
            font-size: 25px;
        }


        .menu-content{
            background:white
        }

        .input{
            opacity:1.0;
            border-bottom: none;
        }

        .ion_input{
            border-bottom: none;
            box-shadow: none;
        }


