<ion-menu [content]="content">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title> Menu </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="menu-content">
    <img class="logo" height="180" width="100%" src="assets/img/login.png" />

        <button menuClose class="menu-List" ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <!-- <ion-icon color="primary" name={{p.icon}}></ion-icon> -->
          {{p.title}}
        </button>
    
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>