<!--
  Generated template for the StandardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Choose Package</ion-title>
    <ion-buttons   right end>
        <button ion-button outline (click)="navToAddItems()"> 
            Add Item
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="content" >
  <!-- <img src="assets/img/food.png"> -->
  <ion-list style="margin-top:10px">
    <!-- <ion-grid> -->
        <!--  -->
      <ion-item no-padding  style="margin-left:10px;width:94%;"  >
        <!-- <ion-row>
          <ion-col col-8> -->
            <ion-label style="margin-left:5px">Choose Package</ion-label>
            <ion-select okText="Ok" (ionChange)="menuFunc()"[(ngModel)]="selectedPackage">
              <ion-option *ngFor="let s of standardMenu;let i=index" [value]="i">{{s.name}}
              </ion-option>
            </ion-select>
          <!-- </ion-col>
          <ion-col col-4> -->
            <!-- <button ion-button (click)="navToAddItems()">Add Item</button> -->

          <!-- </ion-col>
        </ion-row> -->

      </ion-item>
    <!-- </ion-grid> -->

  </ion-list>
  <ion-list style="margin:10px">
    <ion-grid no-padding>
      <ion-item  *ngFor="let s of selectedMenu;let i=index;trackBy: trackByFn" style="color:black;border:solid #CE0050 1px;margin-bottom:10px;">

        <ion-row text-wrap>
          <ion-col col-11>
            {{s.name}}

          </ion-col>
          <ion-col col-1 (tap)="removeItem(i)">
            <ion-icon name="close"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-item>
    </ion-grid>

  </ion-list>








  <ion-row>
    <ion-col text-left>

    </ion-col>
    <ion-col text-right>
      <button ion-button  (click)="navToNextPage()">Next</button>
    </ion-col>
  </ion-row>
</ion-content>