<!--
  Generated template for the ListQuotationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>List Quotation</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content class="content">
  <ion-list *ngIf="dataAvail" style="width:90%;margin-left:5%">
    <ion-item style="border:0px;padding:0px;margin:0px">
      <ion-input #searchTextInput [formControl]="searchControl" type="{{selectedSearchType}}" [(ngModel)]="searchTerm" placeholder="Search"></ion-input>
      <ion-select text-left [(ngModel)]="s" (ionChange)="optionSelection()">
        <ion-option *ngFor="let s of search" [value]="s">{{s}}</ion-option>
      </ion-select>
    </ion-item>
    <!--<button ion-button (click)="setFilteredItems()">Click</button>-->

  </ion-list>
  <ion-grid class="grid" *ngFor="let l of listQuotation">
    <ion-row>
      <ion-col>
        <b>Name:</b>&nbsp;{{l.customerName}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <b>Venue:</b>&nbsp;{{l.venue}}
      </ion-col>
      <ion-col col-6>
        <b>Date:</b>&nbsp;{{l.date}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button style="padding:0px;margin:0px;font-size:10px;width:120px;height:35px" ion-button outline (click)="pdfGenerator(l)">View quotation</button>

      </ion-col>
      <ion-col col-6>
        <button style="padding:0px;margin:0px;font-size:10px;width:120px;height:35px" ion-button outline (click)="navToEditQuotation(l)">Edit quotation</button>


      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button style="padding:0px;margin:0px;font-size:10px;width:120px;height:35px" ion-button outline (click)="navToAddReceipts(l)">Add receipt</button>

      </ion-col>
      <ion-col col-6>
        <button style="padding:0px;margin:0px;font-size:10px;width:120px;height:35px" ion-button outline (click)="navToViewReceipts(l)">View receipts</button>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row *ngIf="dataAvail">
    <ion-col text-center>
      <button ion-button [disabled]="min" (tap)="loaddata(-5)" round>
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <button ion-button [disabled]="max" (tap)="loaddata(5)" round>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <h4 style="text-align:center" *ngIf="!dataAvail">No quotations found</h4>
  <ion-row>
    <ion-col text-center>
      <button *ngIf="!dataAvail" (click)="navToAddQuotation()" ion-button>Add Quotation</button>
    </ion-col>
  </ion-row>

</ion-content>