page-list-quotation {
.content{
    background:lightgray
}
.grid{
    background:white;
    // border-radius:6px;
    border:solid 2px gray;
    width:90%;
    margin-top:10px

}
// .item-form-search{
//     border:solid #1773BA 2px;
//     height:40px;
//     border-radius:6px;
//     background-color: white
// }
.ion_input{
    border-bottom: none;
    box-shadow: none;
}

}
