page-modelpage {
    // .guide-modal .modal{
    //     $modal-inset-min-width:0;
    //     $modal-inset-min-height-small:0;
    //     display: flex;
    //     height: 150px;
    //     // top:20%;
    //     // width:80%;
    //     // height:50%;
    //     // border-radius:25px
    // }
    // ion-modal
    // {
    // padding: 30px;
    // background: rgba(0,0,0,0.5);
    // border-radius: 25px;
    // }

    // ion-modal.my-popup{
    //     @media(min-width:100px) and (min-height:200px){
    //         ion-backdrop{
    //             visibility:visible;
    //         }
    //     }
    //     .modal-wrapper{
    //         position: absolute;
    //         overflow:hidden;
    //         max-width:250px;
    //         border-radius:2px;
    //         width:110px;
    //         height:230px;
    //         top:10%;
    //         bottom:10%;
    //         left:10%;
    //         right:10%;
    //         margin:auto;
    //         border:0;
    //         box-shadow:0 16px 20px rgba(0,0,0,.4);
    //         background-color:red

    //     }
    // }
    
        background:rgba(0,0,0,0.5);
align-content: center;
    .alert-content{
        position:absolute;
        top:10%;
        left:10%;
        // right:20%;
        margin-right:50px;
        background:white;
        
   display:block;
   width:80%;
   height:80%;
//    border:2px solid ;
   border-radius:2px;
   overflow:hidden;
  .content{
    background-color:white;
    .add{
        color:#aa488a;
        font-size:30px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20%;
    }
    .search-Bar{
        width:100%
    }
    .searchbar-clear-icon {
        display: none !important;
        }
  }
    .title{
        text-align:center;
        color:white;
        font-weight:bold;
    }
    .toolbar-background{
        
            background-color:#CE0050;
          
        }
   
    }


    
   
   
}
