<div class="alert-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <p no-margin no-padding class="title">&nbsp;&nbsp;&nbsp;Add Item</p>
      </ion-title>
      <ion-buttons right end>
        <button ion-button outline (click)="dismissModal()">
          Close
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="content">
    <ion-grid>
      <!-- <ion-row *ngIf="!custom" style="background-color:white;border:solid 1px #CE0050">
        <ion-col col-12>
          <ion-searchbar (ionInput)="getItems($event)" placeholder="Search"></ion-searchbar>
        </ion-col>
      </ion-row> -->

      <ion-row  style="background-color:white;border:solid 1px #CE0050">
        <ion-col col-10>
          <ion-searchbar #searchbar [debounce]="400"  [showCancelButton]="false" style="padding:0px;margin:0px"      [(ngModel)]="customItem" (ionInput)="getItems($event)" placeholder="Search"></ion-searchbar>
        </ion-col>
        <ion-col col-2 (tap)="addCustomItem()">
          <ion-icon name="add-circle" class="add" ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-item text-wrap *ngFor="let item of itemsList;let i=index;trackBy: trackByFn" (click)="itemAdd(item)">
        <h2>{{item.name}}</h2>

      </ion-item>
    </ion-list>

  </ion-content>
</div>