<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding radio-group>
  <ion-list *ngFor="let s of standardMenu;let i=index">
    <ion-grid no-padding>
      <ion-row class="row-menu" [ngStyle]="{'background-color':s.showDetails ? '#cef98d':'lightgray' } " align-items-start (tap)="toggleDetails(i)">
        <ion-col item-right col-10 style="margin-bottom:4px;margin-left:10px;">
          &nbsp; &nbsp; &nbsp;
          <h4>{{s.name}}</h4>
        </ion-col>
        <ion-col col-1>
          <ion-icon color="danger" class="icon-item" style="margin-top:20px;" item-right [name]="s.icon"> </ion-icon>
        </ion-col>
        <div style="background-color:white;margin: 0px 0px 0px;padding-top:20px;padding-bottom:20px;width:100%;" *ngIf="s.showDetails">
          <!-- <p style="padding:0px;margin:0px;margin-left:30px;background-color:white;border-radius:8px" *ngFor="let m of s.Menu">
            -- {{m.name}}
          </p> -->
          <ion-row *ngFor="let m of s.Menu">

            <ion-col style="margin-top:0px;padding-top:0px" text-right col-2>
              --
            </ion-col>
            <ion-col style="margin:0px;padding:0px" col-10>
              {{m.name}}
            </ion-col>
          </ion-row>
        </div>
      </ion-row>
    </ion-grid>
  </ion-list>


</ion-content>